Source: kaldi
Priority: optional
Maintainer: Marc Puels <mpuels@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/kaldi.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/kaldi.git

Package: kaldi-dev
Section: libdevel
Architecture: any
Depends: kaldiBROKEN (= ${binary:Version}), ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: kaldiBROKEN
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
