#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1
export PARALLEL_JOBS = 4


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@ --parallel --sourcedirectory=src


override_dh_auto_configure:
	cd src && ./configure --shared --fst-root=/usr --fst-version=1.6.7


override_dh_auto_build:
	cd src && make -j${PARALLEL_JOBS} depend
	cd src && make -j${PARALLEL_JOBS} checkversion
	cd src && make -j${PARALLEL_JOBS} kaldi.mk
	cd src && make -j${PARALLEL_JOBS} mklibdir
	cd src && make -j${PARALLEL_JOBS} base decoder fstext nnet3 online2 util
	rm -rf src/lib


override_dh_auto_test:
	echo "Skipping dh_auto_test"


override_dh_clean:
	dh_clean -X.orig


override_dh_auto_clean:
	rm -f src/base/version.h
	rm -f src/kaldi.mk
	find . \( \
		-name '*.a' -o -name '.depend.mk' -o -name '*.o' -o -name '*.so' \
		\) -exec rm {} +
	rm -f src/probe/exp-test
